/* CSS Document
Project Name: Dormant Neurons Website
Version:  1.0
Owner: Lea Schönherr
Developed By: Soumya Shaw
Responsive.css
*/

@media only screen and (max-width:700px) {
    #dot-nav {
        display: none;
    }

    /*   Navbar CSS  */
    .menu {
        display: none;
    }
    .antpod-logo {
        width: 40%;
        height: auto;
        padding: 15px;
        margin-left: 20px;
    }

    /*   Home CSS    */
    .home-content {
        width: 90%;
        position: relative;
        top: 350px;
        left: 20px;
    }
    .home-area {
        height: 640px;
    }

    /*  Technology CSS  */
    .tech-row {
        flex: 70%;
        text-align: center;
        position: relative;
        top: 10px;
        right: 0px;
        height: 80%;
    }
    .tech-gap {
        display: none;
    }
    .tech-right-1 {
        display: none;
    }
    .tech-right-1-mobile {
        display: block;
    }
    #tech-right-1-mobile {
        display: block;
        left: 0em;
        top: 0em;
    }
    .tech-icon-inner {
        height: 70px;
        width: 70px;
    }
    .tech-bounding {
        display: block;
    }
    .tech-icon {
        display: none;
    }
    .tech-icon-mobile {
        display: block;
        flex: 20%;
    }  
    .tech-head {
        font-size: 30px;
        left: 0em;
        top: 0em;
    }
    .dashed-border-1-1,.dashed-border-1-2,.dashed-border-1-3,.dashed-border-1-4 {
        display: none;
    }
    .tech-head-2 {
        font-size: 30px;
        top: 0em;
        left: 0em;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .dashed-border-2-1,.dashed-border-2-2,.dashed-border-2-3,.dashed-border-2-4 {
        display: none;
    }
    .tech-icon-2 {
        flex: 20%;
        position: relative;
        left: 0px;
    }
    .tech-row-2 {
        flex: 70%;
        text-align: center;
        position: relative;
        top: 12px;
        margin-left: 0px;
    }

    /*   About Us CSS    */
    .about-bounding {
        display: block;
    }
    .venn {
        position: relative;
        left: 20%;
    }
    .principles-icon {
        width: 15%;
        position: relative;
        left: 130px;
        top: 20px;
    }
    .principles-text {
        text-align: center;
        font-size: 25px;
        position: relative;
        top: 0px;
        left: 15px;
    }
    .about-right {
        text-align: center;
        margin-top: 25px;
    }
    .about-text {
        width: 100%;
        position: relative;
        font-size: 16px;
        top: 0px;
        padding: 20px;
    }
    .about-bottom {
        margin-top: 20px;
        height: 100px;
        display: none;
    }
    .road {
        width: 100%;
        margin-top: 0px;
        left: 0px;
        text-align: center;
    }
    .road-ahead {
        top: 0px;
    }

    /*   Team CSS    */
    .team-area {
        height: auto;
        margin-top: -50px;
    }
    .team-bounding {
        display: block;
    }
    .founder {
        flex: 33%;
        position: relative;
        top: 0em;
    }
    .team-info {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .team-info h4 {
        font-size: 17px;
    }
    #suhas-break {
    display: block;
}
    
    /*   Contact Us CSS    */
    .contact-us-area {
        padding: 15px;
    }
    .form-control {
        margin-left: 0px;
    }
    .outer-contact {
        display: block;
    }
    #inner-contact-left {
        border-right: none;
        margin-bottom: 25px;
    }
    iframe {
        border-radius: 10px;
        border: 1px solid;
        width: 100%;
        height: 200px;
    }
    #first-name {
        margin-right: 5px;
    }
    #company-name {
        margin-right: 5px;
    }
    #phone-no {
        margin-right: 5px;
    }
    .write {
        margin-top: 30px;
        font-size: 18px;
        width: 250px;
    }
    .mail {
        font-size: 16px;
        padding-top: 10px;
        text-align: left;
        position: relative;
        left: -13px;
        width: 100%;
    }
    
    /*   Footer CSS    */
    .row {
        display: block;
    }
    .col-4 {
        width: 100%;
    }
    #col-4-pc-1 {
        display: none;
    }
    #col-4-pc-2 {
        display: none;
    }
    .flex-mobile {
        display: flex;
        text-align: center;
    }
    .flex-mobile .col-4 {
        flex: 50%;
    }
    .flex-pc {
        display: none;
    }
    #footer-logo {
        width: 250px;
        position: relative;
        top: 5px;
        left: 63px;
    }
    .footer-ul {
        padding: 20px;
        padding-right: 0px;
        position: relative;
        left: 10px;
    }
    .footer-ul-follow-us {
        padding: 10px;
        padding-bottom: 7.5px;
        left: 12px;
        text-align: center;
        width: 100%;
    }
    .social-media {
        display: flex;
        width: 102%;
        display: block;
        padding-bottom: 10px;
        padding-left: 0px;
        text-align: center;
    }
    .social-media-inner {
        text-align: center;
    }
    .footer-bottom {
        display: block;
    }
}

@media only screen and (max-width:800px) and (min-width:700px) {
    #dot-nav {
        display: none;
    }

    /*   Navbar CSS  */
    .menu {
        display: none;
    }
    .antpod-logo {
        width: 40%;
        height: auto;
        padding: 15px;
        margin-left: 20px;
    }

    /*   Home CSS    */
    .home-content {
        width: 90%;
        position: relative;
        top: 800px;
        left: 40px;
    }
    .home-area {
        height: 1024px;
    }

    /*  Technology CSS  */
    .tech-row {
        flex: 50%;
        text-align: left;
        position: relative;
        top: 10px;
        right: 0px;
        height: 80%;
        padding-left: 20px;
    }
    .tech-gap {
        display: none;
    }
    .tech-right-1 {
        display: none;
    }
    .tech-right-1-mobile {
        display: block;
    }
    #tech-right-1-mobile {
        display: block;
        left: 0em;
        top: 0em;
    }
    .tech-icon-inner {
        height: 70px;
        width: 70px;
        float: right;
    }
    .tech-bounding {
        display: block;
    }
    .tech-icon {
        display: none;
    }
    .tech-icon-mobile {
        display: block;
        flex: 20%;
        padding-right: 20px;
    }  
    .tech-head {
        font-size: 30px;
        left: 0em;
        top: 0em;
    }
    .dashed-border-1-1,.dashed-border-1-2,.dashed-border-1-3,.dashed-border-1-4 {
        display: none;
    }
    .tech-head-2 {
        font-size: 30px;
        top: 0em;
        left: 0em;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .dashed-border-2-1,.dashed-border-2-2,.dashed-border-2-3,.dashed-border-2-4 {
        display: none;
    }
    .tech-icon-2 {
        flex: 20%;
        position: relative;
        left: 0px;
        padding-right: 20px;
    }
    .tech-row-2 {
        flex: 50%;
        text-align: left;
        position: relative;
        top: 12px;
        margin-left: 0px;
        padding-left: 20px;
    }

    /*   About Us CSS    */
    .about-bounding {
        display: block;
    }
    .venn {
        position: relative;
        left: 20%;
    }
    .principles-icon {
        width: 15%;
        position: relative;
        left: 130px;
        top: 20px;
    }
    .principles-text {
        text-align: center;
        font-size: 25px;
        position: relative;
        top: 0px;
        left: 15px;
    }
    .about-right {
        text-align: center;
        margin-top: 25px;
    }
    .about-text {
        width: 100%;
        position: relative;
        font-size: 16px;
        top: 0px;
        padding: 20px;
    }
    .about-bottom {
        margin-top: 20px;
        height: 100px;
        display: none;
    }
    .road {
        width: 100%;
        margin-top: 0px;
        left: 0px;
        text-align: center;
    }
    .road-ahead {
        top: 0px;
    }

    /*   Team CSS    */
    .team-area {
        height: auto;
        margin-top: -50px;
    }
    .team-bounding {
        display: block;
    }
    .founder {
        flex: 33%;
        position: relative;
        top: 0em;
    }
    .team-info {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .team-info h4 {
        font-size: 17px;
    }
    
    /*   Contact Us CSS    */
    .contact-us-area {
        padding: 15px;
    }
    .form-control {
        margin-left: 0px;
    }
    .outer-contact {
        display: block;
    }
    #inner-contact-left {
        border-right: none;
        margin-bottom: 25px;
    }
    iframe {
        border-radius: 10px;
        border: 1px solid;
        width: 100%;
        height: 200px;
    }
    #first-name {
        margin-right: 5px;
    }
    #company-name {
        margin-right: 5px;
    }
    #phone-no {
        margin-right: 5px;
    }
    .write {
        margin-top: 30px;
        font-size: 18px;
        width: 250px;
        padding-right: 0px;
    }
    .mail {
        font-size: 16px;
        padding-top: 10px;
        text-align: left;
        position: relative;
        left: -13px;
        width: 100%;
    }
    
    /*   Footer CSS    */
    .row {
        display: block;
    }
    .col-4 {
        width: 100%;
    }
    #col-4-pc-1 {
        display: none;
    }
    #col-4-pc-2 {
        display: none;
    }
    .flex-mobile {
        display: flex;
        text-align: center;
    }
    .flex-mobile .col-4 {
        flex: 50%;
    }
    .flex-pc {
        display: none;
    }
    #footer-logo {
        width: 99%;
        position: relative;
        top: 5px;
        left: 0px;
        text-align: center;
    }
    .logo-img {
        width: 250px;
    }
    .footer-ul {
        padding: 20px;
        padding-right: 0px;
        position: relative;
        left: 10px;
    }
    .footer-ul-follow-us {
        padding: 10px;
        padding-bottom: 7.5px;
        left: 8px;
        text-align: center;
        width: 100%;
    }
    .social-media {
        display: flex;
        width: 102%;
        display: block;
        padding-bottom: 10px;
        padding-left: 0px;
        text-align: center;
    }
    .social-media-inner {
        text-align: center;
    }
    .footer-bottom {
        display: block;
    }
}

@media only screen and (max-width:1100px) {
    .dashed-border-2-2 {
        display: none;
    }
    .dashed-border-1-2 {
        display: none;
    }
}

@media only screen and (max-width:1200px) {
    .dashed-border-2-2 {
        width: 40px;
        left: -42px;
    }
    .dashed-border-1-2 {
        width: 40px;
        left: 42px;
    }
}

@media only screen and (min-width:1500px) {
    .home-area {
        height: 900px;
    }
    .home-content {
        top: 700px;
    }
    .animation-tree {
        left: 48%;
    }
    .dashed-border-2-1 {
        left: -110px;
    }
    .dashed-border-2-2 {
        left: -152px;
    }
    .dashed-border-2-3 {
        left: -90px;
    }
    .dashed-border-2-4 {
        left: -90px;
    }
}